<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NPOI" version="2.3.0" targetFramework="net35" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net35" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net35" />
  <package id="Syncfusion.Licensing" version="20.4.0.49" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>