<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.85.0" targetFramework="net35" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net35" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net35" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net35" />
  <package id="ValueTupleBridge" version="0.1.5" targetFramework="net35" />
</packages>